@model NerdDinner.Models.DinnerFormViewModel
<script type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/Scripts/Map.js"></script>

<div id="theMap" style="position:relative;width:800px;height:600px;left:50px;bottom:125px;float:right"></div>
<script>
    $(document).ready(function() {
        AddMapChildScriptToDocument();
    });

    function LoadMapToPage() {
        GetMap();
        SetMapCenterToAddress("@Model.Title", "@Model.Address");
    }
</script>