@model IEnumerable<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}



<h2>Upcomming Dinners</h2>

<ul>
    @foreach (var d in Model) { 
         <li>
             @d.Title (@d.EventDate.ToString("MM/dd/yyyy"))
         </li>
     } 
</ul>

<p>
    @Html.ActionLink("Create a Dinner", "Create")
</p>